:root{
    --color--one: #14162C;
    --color--one--rgba: #191b3fdf;
    --color--two: #accefa;
    --color--three: #298bfe;
    --color--four: #e52d2d;
    --color--five: #ffffff;
    --color--six: #ffd733;

    --layout-description-container-x: 10px;
    --layout-description-container-y: 10px;
}

@font-face {
    font-family: "D-DIN-Regular";
    src: url(../storage/font/d-din/D-DIN.otf);
}
